@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

#button {
    position: absolute;
    top: 20px;
    bottom: 0;
    right: 80px;
    height: 30px;
    padding: 3px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
}


.btn {
    right: 80px;
    /*padding: 3px;*/
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
}


body {
    background-color: #1f1b24;
}

button {
    border-radius: 25px;
    background-color: #2c3e3d;
    color: #03FDF9FF;
    /*height: 35px;*/
    align-content: center;
    margin: 3px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
}

.card-header {
    font: 16px 'orbitron', Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: auto;
}

.card.col-5.card-header {
    border-radius: 25px;
    justify-content: space-around;
    text-align: center;
    margin: 5px;
    background: #03FDF9FF;
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
    border: none;
    border-radius: 10px;
}

.card-item {
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 1px solid #03FDF9FF;*/
    /*padding: 15px;*/
    /*border-radius: 25px;*/
    background: #1f1b24 !important;
    max-width: 100%;
    max-height: 100%;
}

.card-item:hover {
    transition: ease-in-out .5s;
    border: 1px solid #2c3e3d;
    box-shadow: black;
}


.btn {
    /*padding: 5px;*/
    /*justify-content: center;*/
    color: white;
    /*background-color: #03FDF9FF;*/

}

#sub-btn {
    width: 120px;
    height: 35px;
    padding: 3px;
}

#photoPicker {
    width: 120px;
    height: 35px;
}

.btn:hover {
    /*color: #2c3e3d;*/

}


a.btn.btn-outline-light {
    /*width: 25px;*/

    /*justify-content: center;*/
    /*color: #2c3e3d;*/
    color: black;
    /*background-color: #03FDF9FF;*/
}

i:hover {
    color: black;
}

a.btn.btn-outline-light:hover {
    color: black !important;
    /*background-color: #2c3e3d;*/
}

.btn.btn-outline-light:hover {
    /*color: #03FDF9FF !important;*/
    background-color: #03FDF9FF;
}

.flip-card {
    background-color: #1f1b24;
    height: 150px;
    margin: 0;
    padding: 0;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/*#flipImage {*/
/*    top: 50px;*/
/*    right: 75px;*/
/*    height: 180px;*/
/*    width: 300px;*/
/*    z-index: 1;*/
/*}*/

/* This container is needed to position the front and back side */
.flip-card-inner {
    background-color: #1f1b24;
    border-radius: 15px;
    border: solid 2px white;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    padding: 0;

}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateX(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    font-size: 21px;
    font-weight: bolder;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    border-radius: 25px;
    background-color: black;
    color: white;
    overflow-wrap: anywhere;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Style the back side */
.flip-card-back {
    border-radius: 25px;
    background-color: black;
    color: white;
    transform: rotateX(180deg);
    overflow: hidden;
    margin-bottom: 15px;
}

#location {
    padding: 3px;
    height: 80px;
    overflow: inherit;
}


.mapbox {

    height: 80%;
    width: 100%;
    padding: 0;

    float: right;
}

/*#myVideo {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    !*object-fit: inherit;*!*/
/*    position: fixed;*/
/*    padding: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    top: 0;*/
/*    !*z-index: -1;*!*/
/*}*/

.navbar > .container {
    flex: auto;
    height: 100px;
}

.navbar {
    text-align: center;
    width: 100%;
    height: 100px;
    color: #03FDF9FF;
    background-image: linear-gradient(180deg, rgb(7, 7, 7), rgb(0, 0, 0) 100%);
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;

}

#navMobile {
    height: 100%;
}

#navbarNav {
    margin: 0;
    padding: 0;
    height: 250px;
}

#navbarNav, #navbarNav2 {
    background-color: unset;
}

#navbarNav2 {
    padding-right: 75px;
}

.navbar .brand, .navbar .nav > li > a {
    color: white !important;
}

.navbar .brand, .navbar .nav > li > a:hover {
    color: #03FDF9FF !important;
}

.navbar-dark span.navbar-toggler-icon {
    color: white !important;
}

.reviews {
    background-color: #1f1b24;
    float: left;
    z-index: auto;
    width: 25%;
    min-height: 100%;
    margin-bottom: 100px;
}

#map {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.map-container {
    padding: 0;
    margin: 0 !important;
    width: 100%;
    min-height: 100%;
}

.mapMarker {
    background-image: url('https://i.ibb.co/bJz3x34/H3-Map-Logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 65px;
    height: 75px;
    cursor: pointer;
}

.mapboxgl-popup {
    border-radius: 35px;
    text-align: center;
    height: 200px;
    width: 200px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    display: none;
}

div.mapboxgl-popup-content {
    border-radius: 35px;
    background-color: #03FDF9FF;
    color: #2c3e3d;
}

.mapboxgl-popup-content:hover {
    color: #2c3e3d;
}

footer {
    width: 100%;
    height: 40px;
    color: #03FDF9FF;
    position: absolute;
    right: 50%;
    font-size: 21px;
    font-weight: bold;
    background-image: linear-gradient(180deg, rgb(0, 0, 0), rgb(7, 7, 7) 100%);
}

#menu.zoom-container {

    font-weight: bolder;
    font-size: 21px;
    color: #03FDF9FF;
    position: absolute;
    left: 45%;
    top: 90%;
    z-index: 3;
}

p.h6 {
    text-transform: none;
}

#registerPage {
    /*margin-bottom: 200px;*/
    padding-bottom: 200px;
}

.section {
    background: #2c3e3d;
    margin-top: 10px;
    position: relative;
    height: 85px;
    /*margin-bottom: 100px;*/
}


.list-group-item {
    text-align: center;
}

.reviewContainer {
    /*margin-bottom: 100px;;*/
}

.search {
    position: absolute;
    top: 22px;
    bottom: 0;
    right: 150px;
    height: 20px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
    z-index: auto;
}


.text {
    color: #ffffff;
}


.card-about {
    height: auto !important;
}

.trademark {
    text-decoration: none;
    color: #03FDF9FF;

}

.trademark:hover {
    color: #ffffff;
}


/*#menu.zoom-container {*/
/*    position: fixed;*/
/*    font-weight: bolder;*/
/*    height: 40px;*/
/*    width: 350px;*/
/*    font-size: 16px;*/
/*    color: #03FDF9FF;*/
/*!important;*/
/*    top: 800px;*/
/*    z-index: 3;*/
/*}*/

/*.zoom-label {*/
/*    color: #03FDF9FF;*/
/*    font-size: 16px;*/
/*    display: flex;*/
/*    justify-items: center;*/
/*    align-items: center;*/
/*}*/

/*.zoom-label:hover {*/
/*    color: #2c3e3d;*/


/*}*/

/*#zoom5 {*/
/*    border: 1px solid white;*/
/*    margin: 5px;*/
/*    background: #03FDF9FF;*/
/*    color: #2c3e3d;*/
/*    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;*/
/*}*/

/*#zoom5:hover {*/
/*    border: white;*/
/*    color: #03FDF9FF;*/
/*    background-color: #2c3e3d;*/
/*    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;*/
/*}*/

/*#zoom10 {*/
/*    border: 1px solid white;*/
/*    margin: 5px;*/
/*    background: #03FDF9FF;*/
/*    color: #2c3e3d;*/
/*    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;*/
/*}*/

/*#zoom10:hover {*/
/*    color: #03FDF9FF;*/
/*    background-color: #2c3e3d;*/
/*    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;*/
/*}*/

/*#zoom15 {*/
/*    border: 1px solid white;*/
/*    margin: 5px;*/
/*    background: #03FDF9FF;*/
/*    color: #2c3e3d;*/
/*    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;*/
/*}*/

/*#zoom15:hover {*/
/*    color: #03FDF9FF;*/
/*    background-color: #2c3e3d;*/
/*    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;*/
/*}*/

@media only screen and (max-width: 992px) {

    #navbarNav, #navbarNav2 {
        background-color: black !important;
    }

    .navbar-brand {
        position: relative;
        bottom: 12px;
        height: 90px;
    }

    .map-container {
        /*display: flex;*/
        /*flex-direction: column;*/
        margin: 0;
    }

    .mapboxgl-canvas {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .mapbox {
        height: 375px;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0;
        margin-bottom: 0;
        z-index: 3;
    }

    #menu.zoom-container {
        /*align-items: center;*/
        /*justify-content: center;*/
        display: none;
        left: 50%;
    }

    #map {
        position: fixed;
        float: top;
        height: 70%;
        width: 100%;
        z-index: 3;
    }

    .reviews {
        position: relative;
        float: bottom;
        z-index: auto;
        width: 100%;
        height: 30% !important;

    }

    .navbar .brand, .navbar .nav > li > a {
        color: #578d8a !important;
    }

    button.navbar-toggler {
        position: relative;
        color: #2c3e3d;
        align-items: center;
        bottom: 5px;
        margin-right: 75px;
        border: white;
    }

    #navbarNav2 {
        padding-right: 0;
        bottom: 20px;
    }
}

@media only screen and (max-width: 375px) {


    .navbar-brand {
        position: relative;
        bottom: 12px;
        height: 90px;
        margin: 0;
        padding: 0;
        right: 40px;
    }

    button.navbar-toggler {
        position: relative;
        color: #2c3e3d;
        align-items: center;
        bottom: 5px;
        margin-right: 30px;
        padding: 0;
    }
}
