@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.accountType {
    margin-top: 16px;
    padding-bottom: 16px ;
}

.activities{
    position: relative;
    right: 3px;
}

.address {
    margin-top: 16px;
    padding-top: 16px !important;
}

.businessName {
    /*padding-top: 16px;*/
}

#button {
    position: absolute;
    top: 20px;
    bottom: 0;
    right: 80px;
    height: 30px;
    padding: 3px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
}

.btn {
    right: 80px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
}

body {
    background-color: #1f2222;
}

.businessContainer{
width: 1000px;
}

button {
    border-radius: 15px;
    background-color: #2c3e3d;
    color: #03FDF9FF;
    align-content: center;
    margin: 3px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
}

.card-header {
    font: 16px 'orbitron', Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: auto;
}

.card.col-5.card-header {
    border-radius: 15px;
    justify-content: space-around;
    text-align: center;
    margin: 5px;
    background: #03FDF9FF;
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
}

.card {
    /*background: transparent !important;*/
    background-image: linear-gradient(180deg, rgb(7, 7, 7), rgb(0, 0, 0) 100%);
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;    border: none;
    border-radius: 15px;
}

.card-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background: transparent !important;
    max-width: 100%;
    max-height: 100%;
    background-image: linear-gradient(180deg, rgb(7, 7, 7), rgb(0, 0, 0) 100%);
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
}

.card-item:hover {
    transition: ease-in-out .5s;
    /*border: 1px solid #2c3e3d;*/
    /*box-shadow: black;*/
}

#endTime {
    padding-left: 16px;
    margin-left: 11px !important;
    width: 150px;
}

#startTime {
    width: 150px;
}

.btn {
    color: white;
}

.card-about {
    height: auto !important;
}

.email {
    padding-bottom: 16px;
}

#sub-btn {
    height: 35px;
    margin-top: 4px !important;
    margin-bottom: 3px;
    margin-left: 0;
    padding: 0 !important;
    width: 150px;
}

#photoPicker {
    width: 150px;
    height: 35px;
    margin-top: 4px !important;
    padding-left: 0;
    margin-left: 3px;
}

.btn:hover {

}

a.btn.btn-outline-light {
    color: black;
}

i:hover {
    color: black;
}

a.btn.btn-outline-light:hover {
    color: black !important;
    /*background-color: #2c3e3d;*/
}

.btn.btn-outline-light:hover {
    /*color: #03FDF9FF !important;*/
    background-color: #03FDF9FF;
}

.fa {
    font-size: 21px;
    margin:5px;
}

.flip-card {
    background-color: #1f1b24;
    height: 150px;
    margin: 0;
    padding: 0;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    /*background-color: #1f1b24;*/
    border-radius: 15px;
    /*border: solid 2px white;*/
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    /*padding: 0;*/

}

/* Do a vertical flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateX(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    font-size: 21px;
    font-weight: bolder;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    border-radius: 15px;
    background-color: black;
    color: white;
    overflow-wrap: anywhere;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style the back side */
.flip-card-back {
    border-radius: 15px;
    background-color: black;
    color: white;
    transform: rotateX(180deg);
    overflow: hidden;
}

#location {
    padding: 3px;
    height: 80px;
    overflow: inherit;
}

.mapbox {
    height: 80%;
    width: 100%;
    padding: 0;
    float: right;
}

.navbar > .container {
    flex: auto;
    height: 100px;
}

.navbar {
    text-align: center;
    width: 100%;
    height: 100px;
    color: #03FDF9FF;
    background-image: linear-gradient(180deg, rgb(7, 7, 7), rgb(0, 0, 0) 100%);
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;

}

#navMobile {
    height: 100%;
}

#navbarNav {
    margin: 0;
    padding: 0;
    height: 250px;
}

#navbarNav, #navbarNav2 {
    background-color: unset;
}

#navbarNav2 {
    padding-right: 75px;
}

.navbar .brand, .navbar .nav > li > a {
    color: white !important;
}

.navbar .brand, .navbar .nav > li > a:hover {
    color: #03FDF9FF !important;
}

.navbar-dark span.navbar-toggler-icon {
    color: white !important;
}

.password {
    margin-bottom: 20px !important;
    /*padding-bottom: 20px !important;*/
}

.reviews {
    /*background-color: #1f1b24;*/
    float: left;
    z-index: auto;
    width: 25%;
    /*min-height: 100%;*/
    margin-bottom: 200px;
}

#map {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.map-container {
    padding: 0;
    margin: 0 !important;
    width: 100%;
}

.mapMarker {
    background-image: url('https://i.ibb.co/bJz3x34/H3-Map-Logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 65px;
    height: 75px;
    cursor: pointer;
}

.mapboxgl-popup {
    border-radius: 15px;
    text-align: center;
    height: 200px;
    width: 200px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    display: none;
}

div.mapboxgl-popup-content {
    border-radius: 15px;
    background-color: #03FDF9FF;
    color: #2c3e3d;
}

.mapboxgl-popup-content:hover {
    color: #2c3e3d;
}

footer {
    width: 100%;
    height: 40px;
    color: #03FDF9FF;
    position: absolute;
    right: 50%;
    font-size: 21px;
    font-weight: bold;
    background-image: linear-gradient(180deg, rgb(0, 0, 0), rgb(7, 7, 7) 100%);
}

#happyHours {
    margin: 0;
    padding-top: 0;
    padding-left: 10px;
}
#menu.zoom-container {

    font-weight: bolder;
    font-size: 21px;
    color: #03FDF9FF;
    position: absolute;
    left: 45%;
    top: 90%;
    z-index: 3;
}

#message{
    position: absolute;
    left: 66%;
    bottom: 73px !important;
    padding: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

p.h6 {
    text-transform: none;
}

#registerPage {
    padding-bottom: 200px;
}

.section {
    background: #2c3e3d;
    margin-top: 10px;
    position: relative;
    height: 85px;
}


.list-group-item {
    text-align: center;
}

#name2{
    position: relative;
    top: 5px;
    right: 25px;
    width: 150px;
    margin-bottom: 16px !important;
    background-color: white;
    border-radius: 5px;
}

.search {
    position: absolute;
    top: 22px;
    bottom: 0;
    right: 150px;
    height: 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
    z-index: auto;
}

.text {
    color: #ffffff;
}

.trademark {
    text-decoration: none;
    color: #03FDF9FF;
}

.trademark:hover {
    color: #ffffff;
}

.businessContainer {
    width: 600px;
}

.viewReview {
    height: 200px;
    width: 600px !important;
}

@media only screen and (max-width: 992px) {

    .accountType {
        padding-bottom: 16px ;
    }

    .consumer {
        margin: 0 !important;
        padding-bottom: 16px ;
    }

    .email {
        padding-bottom: 0;
    }

    #happyHours {
        /*margin-top: 16px;*/
        margin-bottom: 0 !important;
    }

    #message{
        position: absolute;
        width: 4281.25px;
        left: 10%;
        bottom: 155px !important;
        padding: 15px;
        border-radius: 15px;
    }

    #name2{
        position: relative;
        top: 5px;
        right: 25px;
    }

    #navbarNav, #navbarNav2 {
        background-color: black !important;
    }

    .navbar-brand {
        position: relative;
        bottom: 12px;
        height: 90px;
    }

    .map-container {
        margin: 0;
    }

    .mapboxgl-canvas {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .mapbox {
        height: 375px;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0;
        margin-bottom: 0;
        z-index: 3;
    }

    #menu.zoom-container {
        display: none;
        left: 50%;
    }

    .businessContainer {
        width: 280px;
    }

    .viewReview {
        height: 200px;
        width: 280px !important;
    }

    #map {
        position: fixed;
        float: top;
        height: 70%;
        width: 100%;
        z-index: 3;
    }

    .reviews {
        position: relative;
        float: bottom;
        z-index: auto;
        width: 100%;
        height: 30% !important;
    }

    #sub-btn {
        width: 177.25px;
        margin-bottom: 16px;

    }
    #startTime {
        margin-left: 0 !important;
        margin-bottom: 10px;
        padding-left: 0;
        width: 177.25px !important;
    }

    #state {
        margin-bottom: 0 !important;
    }

    #endTime {
        margin-top: 0 !important;
        margin-bottom: 16px;
        margin-left: 0 !important;
        padding-left: 0;
        width: 177.25px !important;
    }

    #name2 {
        margin-bottom: 16px;
    }

    .navbar .brand, .navbar .nav > li > a {
        color: #03FDF9FF;
    }

    .password {
        margin-bottom: 20px !important;
    }

    button.navbar-toggler {
        position: relative;
        color: #03FDF9FF;
        align-items: center;
        bottom: 5px;
        margin-right: 75px;
        border: white;
    }

    #navbarNav2 {
        padding-right: 0;
        bottom: 20px;
    }
    .upload {
        width: 177.25px !important;
    }
}

@media only screen and (max-width: 414px) {
    #sub-btn {
        width: 206.5px !important;
        margin-bottom: 5px !important;
    }

    #happyHours {
        margin-bottom: 0 !important;
        margin-left: 0 !important;
        padding-left: 8px;
    }
    #name2  {
        width: 206.5px !important;
    }

    #startTime {
        width: 206.5px !important;
    }

    .upload {
        width: 206.5px !important;
        margin-bottom: 16px;
    }
    #endTime {
        width: 206.5px !important;
    }
}

@media only screen and (max-width: 375px) {

    .navbar-brand {
        position: relative;
        bottom: 12px;
        height: 90px;
        margin: 0;
        padding: 0;
        right: 40px;
    }

    button.navbar-toggler {
        position: relative;
        color: #03FDF9FF;
        align-items: center;
        bottom: 5px;
        margin-right: 30px;
        padding: 0;
    }

    #happyHours {
        margin-bottom: 0 !important;
    }

    #sub-btn {
        width: 177.25px !important;
        margin-bottom: 16px;
    }
}