<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<header th:include="partials :: header(title = '')"></header>


<body>

<nav th:include="partials :: navbar"></nav>
<th:block th:switch="${error}">
    <div th:case="'Internal Server Error'">
        <h1>Internal Server Error</h1>
    </div>
    <div th:case="'Bad Gateway'">
        <h1>Bad Gateway</h1>
    </div>
    <div th:case="'Not Implemented'">
        <h1>Not Implemented</h1>
    </div>
    <div th:case="'Service Unavailable'">
        <h1>Service Unavailable</h1>
    </div>
    <div th:case="'Gateway Timeout'">
        <h1>Gateway Timeout</h1>
    </div>
</th:block>


</body>
</html>