<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<header th:include="partials :: header(title = '')"></header>


<body class="text" >
<nav th:include="partials :: navbar"></nav>

<h1>Edit Review</h1>
<form th:action="@{'/editReview/{id}'(id = ${review.id})}" th:object="${review}" method="post">
    <div class="form-group">
        <label for="businessName">Business Name</label>
        <input class="form-control" id="businessName" name="businessName" disabled
               th:value="${review.getBusiness().getName()}">
    </div>
    <div class="form-group">
        <label for="rating">Rating</label>
        <select class="form-control" id="rating" name="rating" th:value="${review.score}" th:field="${review.score}">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="body">Write Your Review</label>
        <textarea class="form-control" id="body" name="body" rows="3"
                  th:value="${review.body}" th:field="${review.body}"></textarea>
    </div>
    <button type="submit" class="btn btn-outline-light">Save changes</button>
</form>
<div>
    <form id="deleteReview" th:action="@{'/deleteReview/{id}'(id = ${review.id})}" method="post">
        <button id="deleteButton" class="btn btn-outline-danger">Delete Review</button>
    </form>

</div>



<script>
    let form = $("#deleteReview");
    let deleteReview = function () {
        return confirm("Are you sure you want to delete this review?");
    };

    $("#deleteButton").click(function (){
        if(deleteReview()){
            console.log("delete confirmation logic is working.");
            form.submit();
        }
    })

</script>
</body>
</html>