<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<header th:include="partials :: header(title = 'Login')"></header>


<body>
<nav th:include="partials :: navbar"></nav>

<div class="d-flex justify-content-center align-items-center mt-3">

    <div class="w-50">
            <h1 class="mb-3 ms-1 text text-center w-100 mt-5">Forgot Password</h1>

            <form class=" text text-center w-100" th:action="@{/emailVerify}" th:method="post" th:object="${user}">

                <label for="email">Enter your Email:</label>
                <input id="email" class="form-control" name="email" type="text">

                <input th:href="@{/emailVerify}" type="submit" class="btn btn-outline-light my-3" value="Verify"/>
            </form>
    </div>
</div>

</body>
</html>
