<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">


<header th:include="partials :: header(title = 'Home')"></header>

<nav th:include="partials :: navbar"></nav>

<head>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet'/>
</head>
<body>
<div class="map-container">
    <div class="mapbox">
        <div class="container" id='map'>
            <link rel='stylesheet'
                  href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css'
                  type='text/css'/>
            <pre id="coordinates" class="coordinates"></pre>
<!--            <input class="search" id="userInput" type="text">-->
<!--            <button id="button" type="button">Search</button>-->

            <div class="zoom-container" id="menu">
                <label class="zoom-label label">ZOOM</label>
                <button id="zoom5" value="zoom x 5">X 5</button>
                <button id="zoom10" value="zoom x 10">X 10</button>
                <button id="zoom15" value="zoom x 15">X 15</button>
            </div>
        </div>

    </div>
    <div class="reviews">
        <div th:each="business : ${business}"
             class="card-item card-deck">
            <div th:each="business : ${business}">
                <p th:text="${business.getName()}" class="text-center text-white"></p>
                <!-- <img th:src="${business.images}" class="card-img-top" alt="...">?-->
                <div class="card-body text-center ">
                    <button class="btn btn-primary mx-1 my-1" type="button" id="location"
                            th:text="${business.location  + ', ' + business.city  }"></button>
                    <a class="btn btn-primary mx-2 my-2" type="button" id="view-business"
                       th:href="@{'business/{id}'(id=${business.id})}">Check Me Out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script th:inline="javascript">

    var mapKey = [[${apiKey}]];
    mapboxgl.accessToken = mapKey;
    const layerList = document.getElementById('menu');
    const inputs = layerList.getElementsByTagName('input');

    for (const input of inputs) {
        input.onclick = (layer) => {
            const layerId = layer.target.id;
            map.setStyle('mapbox://styles/mapbox/' + layerId);
        };
    }
    const nav = new mapboxgl.NavigationControl({
        showZoom: true
    });

    $(document).ready(function () {
        $('#zoom5').click(function (e) {
            map.flyTo({zoom: 5});
        });
        $(document).ready(function () {
            $('#zoom10').click(function (e) {
                map.flyTo({zoom: 10});
            });
            $(document).ready(function () {
                $('#zoom15').click(function (e) {
                    map.flyTo({zoom: 15});
                })
            });
        });
    });


    $(document).ready(function () {
        $(".removeMarkers").click(function () {
            $('svg').toggle()
        });
    });

    const geojson = {
        'type': 'FeatureCollection',
        'features': [
            {
                'type': 'Feature',
                'geometry': {
                    'type': 'Point',
                    'coordinates': [-98.4916, 29.4260]
                }
            }
        ]
    }

    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [-98.4916, 29.4252],
        zoom: 10
    });

    var marker = new mapboxgl.Marker()
        .setLngLat([-98.4916, 29.4260])
        .addTo(map);


    // Add markers to the map.

    const geocode = (input) => {
        fetch(`https://api.mapbox.com/geocoding/v5/mapbox.places/${input}.json?&access_token=${mapKey}`)
            .then(res => res.json())
            .then(data => {
                console.log(data);
                try {
                    map.flyTo({center: data.features[0].center, essential: true, zoom: 15})

                } catch (e) {
                    console.log(e);
                }
                for (const feature of geojson.features) {
// create a HTML element for each feature
                    const el = document.createElement('div');
                    el.className = 'mapMarker';

// make a marker for each feature and add it to the map
                    new mapboxgl.Marker(el)
                        .setLngLat(data.features[0].center).addTo(map);
                    const popup = new mapboxgl.Popup({
                        closeButton: false,
                        closeOnClick: false
                    });

                    map.on('mouseenter', 'places', (e) => {
// Change the cursor style as a UI indicator.
                        map.getCanvas().style.cursor = 'pointer';

// Copy coordinates array.
                        const coordinates = data.features[0].geometry.coordinates.slice();
                        const description = data.features[0].properties.description;

// Ensure that if the map is zoomed out such that multiple
// copies of the feature are visible, the popup appears
// over the copy being pointed to.
                        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                            coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
                        }

// Populate the popup and set its coordinates
// based on the feature found.
                        popup.setLngLat(coordinates).setHTML(description).addTo(map);
                    });

                    map.on('mouseleave', 'places', () => {
                        map.getCanvas().style.cursor = '';
                        popup.remove();
                    });

                }
            })
    }
    $(document).on("click", "#location", function () {
        console.log(this.innerText)
        geocode(this.innerText)

    })

</script>
</body>
<footer th:replace="partials :: footer"></footer>
</html>