<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">


<header th:include="partials :: header(title = 'Home')"></header>

<nav th:include="partials :: navbar"></nav>

<head>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet'/>
</head>
<body>
<div class="container map-container">
    <div class="row">
        <div class="col-lg-9">
            <div id='map'></div>
        </div>
        <style>
            .marker {
                background-image: url('https://i.ibb.co/bJz3x34/H3-Map-Logo.png');
                background-size: cover;
                width: 7%;
                height: 5%;
                cursor: pointer;
            }
        </style>
        <div class="reviews d-flex flex-column align-items-center col-lg-3">
            <div th:each="business : ${business}"
                 class="card-item card-deck mx-4 my-4"
                 style="overflow-y: auto;">
                <div th:each="business : ${business}">
                    <p th:text="${business.getName()}" class="text-center text-white"></p>
                    <!-- <img th:src="${business.images}" class="card-img-top" alt="...">?-->
                    <div class="card-body text-center ">
                        <button class="btn btn-primary mx-2 my-2" type="button" id="location"
                                th:text="${business.location  + ', ' + business.city  }"></button>
                        <button class="btn btn-primary mx-2 my-2" type="button" id="view-business"
                                href="/viewBusiness">Check Me Out</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script th:inline="javascript">

        var mapKey = [[${apiKey}]];
        mapboxgl.accessToken = mapKey;

        const geojson = {
            'type': 'FeatureCollection',
            'features': [
                {
                    'type': 'Feature',
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [-98.4916, 29.4260]
                    }
                }
            ]
        }

        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [-98.4916, 29.4252],
            zoom: 10
        });

        var marker = new mapboxgl.Marker()
            .setLngLat([-98.4916, 29.4260])
            .addTo(map);



// Add markers to the map.

            const geocode = (input) => {
                fetch(`https://api.mapbox.com/geocoding/v5/mapbox.places/${input}.json?&access_token=${mapKey}`)
                    .then(res => res.json())
                    .then(data => {
                        console.log(data);
                        try {
                            map.flyTo({center: data.features[0].center, essential: true, zoom: 15})

                        } catch (e) {
                            console.log(e);
                        }
                        for (const feature of geojson.features) {
// create a HTML element for each feature
                            const el = document.createElement('div');
                            el.className = 'marker';

// make a marker for each feature and add it to the map
                            new mapboxgl.Marker(el)
                                .setLngLat(data.features[0].center).addTo(map);
                            // new mapboxgl.Marker().setLngLat(data.features[0].center).addTo(map);
                        }
                    })
            }
            $(document).on("click", "#location", function () {
                console.log(this.innerText)
                geocode(this.innerText)

            })

    </script>
</body>
<footer th:replace="partials :: footer"></footer>
</html>