<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<header th:include="partials :: header(title = 'Login')"></header>

<style>
    .error{
        color: red;
    }
</style>
<body>
<nav th:include="partials :: navbar"></nav>
<div class="container">
    <h1 class="mb-3 text text-center">Login</h1>


    <div class="text" th:if="${param.logout}">
        You have been logged out.
    </div>

    <form th:action="@{/login}" th:method="post">

        <label class="text" for="username">Username</label>
        <input id="username" class="form-control" name="username" type="text">

        <label class="text" for="password">Password</label>
        <input id="password" class="form-control" name="password" type="password">


        <input type="submit" class="btn btn-outline-light mt-3" value="Log In"/>
        <i class="fa fa-eye text-white" onclick="showPassword()"></i>


        <a th:href="@{/emailVerify}" class="btn btn-outline-light mt-3 float-end">Forgot Password</a>

    </form>

    <div class="error mt-2 class" th:if="${param.error}">

        Invalid Username or Password.
    </div>
</div>
</body>
<script>
function showPassword() {
    let x = document.getElementById("password");
    if (x.type === "password") {
        x.type = "text";
    } else {
        x.type = "password";
    }
}
</script>

</html>