<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<header th:include="partials :: header(title = 'Edit Account')"></header>


<body>
<nav th:include="partials :: navbar"></nav>

<h1 class="mb-3 text-center">Edit Account</h1>
<div class="container">
    <div class="row">
        <form th:action="@{'/updateProfile/{id}'(id = ${user.id})}" method="post" th:object="${user}">

            <div class="form-group">
                <label class="text-white" for="username">Username</label>
                <input class="form-control" name="username" type="text" id="username" th:field="*{username}"
                       th:value="*{username}">
            </div>
            <div class="form-group">
                <label class="text-white" for="email">Email</label>
                <input class="form-control" name="email" type="text" id="email" th:field="*{email}" th:value="*{email}">
            </div>
            <div class="form-group">
                <label class="text-white" for="password">Password</label>
                <input class="form-control" id="password" type="password" th:field="*{password}" th:value="*{password}">
            </div>
            <input id="isOwner" th:field="*{ownsBusiness}" th:value="*{ownsBusiness}" hidden>

            <div class="d-flex justify-content-center mt-3">
                <button type="submit" class="btn btn-primary p-0 mt-2 m-auto col-12 col-md-8 col-lg-6">Submit</button>
            </div>
        </form>
        </div>
        <div class="text-center mt-3">
        <form id="deleteAccount" th:action="@{'/deleteProfile/{id}'(id = ${user.id})}" method="post">
            <button id="deleteButton" class="btn btn-primary p-0 mt-2 m-auto col-12 col-md-8 col-lg-6">Delete Account</button>
        </form>
        </div>
    </div>
</div>


<script>
    let form = $("#deleteAccount");
    let deleteAccount = function () {
        return confirm("Are you sure you want to delete your account?");
    };
    $("#deleteButton").click(function () {
        if (deleteAccount()) {
            console.log("delete confirmation logic is working.");
            form.submit();
        }
    })

</script>

</body>

</html>

