<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<header th:include="partials :: header(title ='User Profile')"></header>


<body>
<nav th:include="partials :: navbar"></nav>

<h1>Hello, <span th:text="${User.getUsername()}"></span>! Here are your reviews.</h1>

<div class="container">
    <div class="row gx-lg-5">
            <div class="card col-lg-6 col-xxl-3 m-3 " th:each="review : ${reviews}">
                <div class="card-body">
                    <h4 class="card-title" th:text="${review.getBusiness().name}"></h4>
                    <br>
                    <h5 class="card-text" th:text="${review.body}"></h5>
                    <br>
                    <p class="reviewScore" th:text="${review.getScore()}"></p>
                </div>
            </div>
    </div>
</div>

<footer th:replace="partials :: footer"></footer>
</body>
</html>