<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<header th:include="partials :: header(title ='User Profile')"></header>


<body>
<nav th:include="partials :: navbar"></nav>




<div class="container">
    <h1  class="my-4 text text-center">Hello, <span th:text="${User.getUsername()}"></span>! Here are your reviews.
    </h1>
    <div class="d-flex justify-content-center">
    <a href="/updateProfile">Edit Profile</a>
    </div>
    <div class="row gx-lg-5 justify-content-center">
        <div class="card col-12 col-md-6 col-lg-6 col-xxl-3 m-3 " th:each="review : ${reviews}">
            <div class="card-header">
                <h4 class="card-title" style="text-align: center" th:text="${review.getBusiness().name}"></h4>
            </div>
            <div class="card-body text-center justify-content-center">
                <br>
                <p class="card-text" style="text-align: center" th:text="${review.body}"></p>
                <br>
                <h5 class="reviewScore" style="text-align: center">Rating: <span th:text="${review.getScore()}"></span> /
                    5.0</h5>
                <a class="btn btn-bg-light" th:href="@{'/editReview/{id}'(id = ${review.id})}">Edit Review</a>
            </div>
        </div>
    </div>


</div>

</body>

<footer th:replace="partials :: footer"></footer>

</html>