<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<header th:include="partials :: header(title = '')"></header>


<body>
<nav th:include="partials :: navbar"></nav>

<div class="container">
    <h1><span th:text="${business.getName()}"></span></h1>
    <!-- Button trigger modal -->

    <button  type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Write a Review
    </button>

    <div class="row">
        <div class="col-lg-10 col-12">
            <div class="card">
                <img th:src="${business.getBusinessImages()}">
                <div class="card-body">
                    <h4 class="card-title" th:text="${business.getName()}"></h4>
                    <h5 class="mt-3">Address</h5>
                    <p id="businessLocation" class="mb-1"><span th:text="${business.getLocation()}"></span></p>
                    <p id="businessLocation2" class="mb-1"><span th:text="${business.getCity()}"></span> <span
                            th:text="${business.getState()}"></span>, <span
                            th:text="${business.getPostal_code()}"></span></p>
                    <h5 class="mt-3">Happy Hours</h5>
                    <p id="happyHours">Start: <span th:text="${business.getStarting_hour()}"></span> End: <span
                            th:text="${business.getEnding_hour()}"></span></p>
                    <p><b>Other games: </b><span th:text="${business.otherGames}"></span></p>
                    <p id="businessRating"><span th:text="${business.avgRating()}"></span> / 5.0 </p>
                </div>
            </div>
        </div>
    </div>
    <section class="pt-3">
        <div class="container px-lg-5 mb-5">
            <div class="row gx-lg-5">
                <div class="card col-lg-6 col-xxl-3 m-3" th:each="review : ${reviews}">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${review.getUser().username}"></h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text" th:text="${review.body}"></p>
                    </div>
                    <span th:text="${review.getScore()}"></span>
                    <a  class="btn btn-primary" th:href="@{'/editReview/{id}'(id = ${review.id})}">Edit Review</a>
                </div>
            </div>
            <br><br><br><br><br>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bg-dark">
                    <div class="modal-header bg-dark text-light">
                        <h5 class="modal-title" id="exampleModalLabel">Write a Review</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body bg-dark">
                        <form th:action="@{'/review/{id}'(id = ${business.id})}" th:object="${review}" method="post">
                            <div class="form-group">
                                <label for="businessName">Business Name</label>
                                <input class="form-control" id="businessName" name="businessName" disabled
                                       th:value="${business.getName()}">
                            </div>
                            <div class="form-group">
                                <label for="rating">Rating</label>
                                <select class="form-control" id="rating" name="rating" th:field="${review.score}">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="body">Write Your Review</label>
                                <textarea class="form-control" id="body" name="body" rows="3"
                                          th:field="${review.body}"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<footer th:replace="partials :: footer"></footer>
</body>
</html>